.deck {
    font-size: 20px;
    height: 250px;
    width: 190px;
}
.bckground{
    background-repeat: no-repeat;
    background-size: cover;
background-image: url("http://www.orangesmile.com/destinations/img/stockholm-map-big.jpg");
}
.bckImg{
  
    width: 100px;
    background-size: cover;
   background-repeat: no-repeat;
   background-image: url("http://blogs.sas.com/jmp/uploads/world.jpg");
}
.cardOne{
    position: relative;
    background-repeat: no-repeat; 
    background-image: url("");
}
.rain {
    font-size: 20px;
    height: 300px;
    width: 0px;
    background-repeat: no-repeat; 
    background-size: cover;
}
.sunny{
    font-size: 20px;
    height: 300px;
    width: 0px;
    background-repeat: no-repeat; 
    background-size: cover;
}
.cloudy{
    font-size: 20px;
    height: 300px;
    width: 0px;
    background-repeat: no-repeat; 
    background-size: cover;
    
}
.tornado{
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ9Wtc6LZGgEQHuYnDUKSom30pY4q1zdzNkamUI8PdfzEhmmBLCsw");
    font-size: 20px;
    height: 300px;
    width: 0px;
    background-repeat: no-repeat; 
    background-size: cover;
    }
.storm{
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRFuAXIzOjYdhwcKX2FNVlbabsGu2zdOJG6X9jJjaA7GKIKItFC0g");
    font-size: 20px;
    height: 300px;
    width: 0px;
    background-repeat: no-repeat; 
    background-size: cover;
}
.holder{
    background-image: url();
    height: 30px;
    font-size: 60px;
    color: white;
}
.imgTxt{
   
    font-size: 20px;
   -webkit-text-fill-color: green; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   
   
}
.emoticon{
    position: absolute;
    top: 100px;
    right: 100px;
    font-size: 34px;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   
}
/*#postalCode{
    font-size: 8px;
    position: absolute;
    right: 320px;
    top:0px;
}*/
.ableft{
    position: absolute;
    
}


.fb{
    background-color: #3B5998 !important ; 
    font: white !important;
    color: white !important;
}
/*<a href="http://www.facebook.com/sharer.php"" class="btn btn-social btn-facebook link-in-popup">
          <i class="fa fa-facebook"></i> Share on Facebook</i> */