.center_div{
    top: 210px;
   background-size: cover;
     border: 1px solid purple;
     background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQNP3EF3h_MAmgALhD80r_co7THsuRR0-7O1WcnKDvCzqsBC7-O");
     background-repeat: no-repeat;
}

.bckground{
    background-image: url("http://images.freeimages.com/images/previews/cf2/fancy-dinner-setting-1328871.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.theText{
    color: #3B5998;
    font-family: serif;
    font-size: 20px;
}
.formImage{
     border: 1px solid #3B5998;
     background-image: url("http://cbimg9.com/graphics/08/06/54995c.jpg");
     background-repeat: no-repeat;
     background-size: cover;
}
.fb{
    background-color: #3B5998 !important ; 
    font: white !important;
    color: white !important;
}